/*
!/src
/**/build
/**/out
/**/%SystemDrive%
!/.run
!/gradle
!/.gitattributes
!/.gitignore
!/build.gradle
!/gradlew
!/gradlew.bat
!/gradle.properties
!/AGENTS.MD
!/CLAUDE.MD
!/CITATION.cff
!/CONTRIBUTORS.md
!/CONTRIBUTING.md
!/INTENT.md
!/LICENSE.MD
!/README.md
!/STANDARDS.MD
!/settings.gradle